<div class="card mb-5 mb-lg-0">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center">{{content?.plan}}</h5>
      <h6 class="card-price text-center">${{content?.price}}<span class="period">/month</span></h6>
      <hr>
      <ul class="fa-ul">
        <li *ngFor = "let item of content?.desc ">
        <span [ngClass]="{'text-muted':item.isDisabled}">
            <i class="fas fa-check"></i>
        {{item.name}}</span></li>
       
      </ul>
      <div class="d-grid">
        <a href="#" class="btn btn-primary text-uppercase">Button</a>
      </div>
    </div>
</div>
